body {
    background-color: black;
}

h1{
    text-align: center;
    font-size: 30pt;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

ul{

    color: white;
    position: relative;
    font-size: 20pt;
    font-style: Times;
}
